body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-color: black;
    /* background-image: linear-gradient(to right bottom,red,blue);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.container{
    border: 1px solid white;
    height: 80vh;
    width: 30vw;
    margin: 30px auto;
    background-color: black;
    /* background-image: linear-gradient(to right bottom,green,blue);
    background-repeat: no-repeat;
    background-size: 100% 100%; */

}

header h1{
    font-size: 1.1rem;
    color: white;
    text-align: center;
}

.color-display{
    height: 5vh;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
   
    color: white;
    text-align: center;
}
.streak-section{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.streak-box{
    height: 12vh;
    width: 8vw;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.streak-box h3{
    font-size: small;
    
}

.streak-box div{
    font-size: large;
    font-weight: 900;
    color: aqua;
    
}
.controls{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    
}

.control-btn{
    background-color: aqua;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

#easyBtn{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
}

.mode-btn{
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.color-box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 50px;
   
}
.color-box{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
}

.color-box:hover{
    transform: scale(1.1);
    
}